<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Node App</title>
</head>
<body>
    <h1>Welcome to Static Nodes</h1>
    <h3>A short prieview of Node</h3>

  <div class = "flex-container">
    <p>Favorite color: Green</p>
  </div> 
  <div class = "flex-container">
    <p>We Both enjoy Pizza!</p>
  </div> 
  <div class = "flex-container">
    <p>We both like Programming!</p>
  </div> 
    
</body>
</html>