<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/home.css">
    <title>Static Node App</title>
</head>
<body>
    <h1>Welcome to Static Nodes</h1>
    <h2>A very short preview of Node</h2>
    <h3>by Jacob Woodbury and Nur Mohamed</h3>

  <div class = "flex-box">
  <div class = "flex-container">
    <p>Our Favorite color is Green</p>
    <img src="/images/green.jpeg" alt = "green swirls">
  </div> 
  <div class = "flex-container">
    <p>We Both enjoy Pizza!</p>
    <img src="/images/pizza.jpeg" alt = "A delicious looking pizza with pepperoni, basil, and tomatoes.">
  </div> 
  <div class = "flex-container">
    <p>We both like Programming!</p>
    <img src="/images/coding.jpg" alt = " a simplistic depiction monitor with symbols ">
  </div> 

</div>
    
</body>
</html>